<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Leilões Fantásticos</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/2-col-portfolio.css') }}" rel="stylesheet">

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        $(function () {
            $('#bid_form').submit(function (ev) {
                socket.emit('new_bid', $('#bid_amount').val());
                return false;
            });
        });

        socket.on('bid', function (msg) {
            $('#last_bid'+ msg["id"]).replaceWith('<p">  Ultimo Bid - '+msg['bid']+'</p>');
        });

    </script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand">Leilões Fantásticos</a>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if session_user_name %}
                        <li>
                            <a href={{ url_for('leiloes') }}>Leilões</a>
                        </li>
                        <li>
                            <a href={{ url_for('leiloar') }}>Leiloar Novo Artigo</a>
                        </li>
                        <li>
                            <a href={{ url_for('procurar') }}>Procurar</a>
                        </li>
                    {% else %}
                        <li>
                            <a href={{ url_for('leiloes') }}>Leilões</a>
                        </li>
                        <li>
                            <a href={{ url_for('procurar') }}>Procurar</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if session_user_name %}
                        <li>
                            <a href="{{ url_for('logout') }}"><span>Logout</span></a>
                        </li>
                        <li>
                            <a href={{ url_for('perfil') }}>{{ session_user_name }}</a>
                        </li>
                    {% else %}
                        <li><a href={{ url_for('login') }}>Login</a></li>
                        <li>
                            <a href={{ url_for('registo') }}>Registo</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Os Nossos magnificos leilões!
                </h1>
                <h3 style="text-align: center">{{ message }}</h3>
            </div>
        </div>
        <!-- /.row -->
        <!-- Projects Row -->
        {% for item in auctions %}
            <div id="{{ item[0] }}" class="col-xs-6 col-sm-4 portfolio-item" style="max-width: 33%;">
                <a href="{{ url_for("leilao", item_id = item[0]) }}">
                    {% if item[11] != '' %}
                        <img class="img-responsive" src="{{ url_for('static', filename="imagens/"+item[11][0]) }}" alt="" title="" style="height: 350px;">
                    {% else %}
                        <img class="img-responsive" src="http://www.verdisreviews.com/wp-content/uploads/2015/08/usat-2012-auction.jpg" alt="" title="" style="height: 350px;">
                    {% endif %}
                </a>
                <h3>
                    <a href="{{ url_for("leilao", item_id = item[0]) }}">{{ item[1] }}</a>
                </h3>
                <div class="col-md-6">
                    <p>Data de Inicio: {{ item[5] }}</p>
                </div>
                <div class="col-md-6">
                    <p>Data de Fim: {{ item[6] }}</p>
                </div>
                <div class="col-md-6">
                    <p>Valor Base - {{ item[3] }}</p>
                </div>
                <div class="col-md-6">
                    <div id="last_bid{{ item[0] }}">
                        {% if item[8]%}
                            <p>Ultimo Bid - {{ item[8] }}</p>
                        {% else %}
                            <p>Ultimo Bid - Nenhum</p>
                        {% endif %}
                    </div>
                </div>
                <a href="{{ url_for("leilao", item_id = item[0]) }}" class="btn btn-info text-center">Bid Now!</a>
            </div>
        {% endfor %}
        <!-- /.row -->

        <hr>


        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p style="text-align: center;">Copyright &copy; ASW 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>