<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Leilões Fantásticos</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/2-col-portfolio.css') }}" rel="stylesheet">

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand">Leilões Fantásticos</a>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if session_user_name %}
                        <li>
                            <a href={{ url_for('leiloes') }}>Leilões</a>
                        </li>
                        <li>
                            <a href={{ url_for('leiloar') }}>Leiloar Novo Artigo</a>
                        </li>
                        <li>
                            <a href={{ url_for('leiloes') }}>Procurar</a>
                        </li>
                    {% else %}
                        <li>
                            <a href={{ url_for('leiloes') }}>Leilões</a>
                        </li>
                        <li>
                            <a href={{ url_for('leiloes') }}>Procurar</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if session_user_name %}
                        <li>
                            <a href="{{ url_for('logout') }}"><span>Logout</span></a>
                        </li>
                        <li>
                            <a href={{ url_for('perfil') }}>{{ session_user_name }}</a>
                        </li>
                    {% else %}
                        <li><a href={{ url_for('login') }}>Login</a></li>
                        <li>
                            <a href={{ url_for('registo') }}>Registo</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <h3 style="text-align: center">
            <a href="#">{{ auction_info[0][1] }}</a>
    </h3>
    <h4 style="text-align: center" >Descricao - {{ auction_info[0][4] }}</h4>
    <div class="container-fluid">
        <img class="img-responsive" src="http://www.verdisreviews.com/wp-content/uploads/2015/08/usat-2012-auction.jpg" alt="" title="" style="text-align: center;
        margin: 0 auto; padding-bottom: 5%;">
    </div>

    <div class="col-xs-6 portfolio-item">
        <div class="col-md-6">
            <p>Data de Inicio: {{ auction_info[0][5] }}</p>
        </div>
        <div class="col-md-6">
            <p>Valor Base - {{ auction_info[0][3] }}</p>
        </div>
        <div class="col-md-6">
            <p>Data de Fim: {{ auction_info[0][6] }}</p>
        </div>
        <div class="col-md-6">
            <p>Ultimo Bid -  {{ auction_info[0][8] }}</p>
        </div>
        <div class="col-md-6">
            <form role="form" action="" method="post" class="registration-form">
                <div class="form-group">
                    <input type="text" name="bid_amount" placeholder="Bid Amount..." class="form-control" id="bid_amount">
                </div>
                <button type="submit" style="text-align: center;
            margin: 0 auto;" class="btn btn-info text-center">Bid Now!</button>
            </form>
        </div>
        <div class="col-md-6">
            <p>Ultimo Bidder -  {{ last_bidder }}</p>
        </div>
    </div>
    <div class="col-xs-6 portfolio-item">
        <div class="col-md-6">
            <p>Dono do leilao:  {{ auction_owner[0] }}</p>
        </div>
        <div class="col-md-6">
            <p>TAGS -
                {% for tag in tags %}
                    {{ tag[3] }}
                {% endfor %}
            </p>
        </div>

        <div class="col-md-6">
            <a style="text-align: center;
            margin: 0 auto;" href=""  class="btn btn-info text-center">Enviar Mensagem!</a>
        </div>
    </div>

</body>
</html>