<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Leilões Fantásticos</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/2-col-portfolio.css') }}" rel="stylesheet">

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand">Leilões Fantásticos</a>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if session_user_name %}
                        <li>
                            <a href={{ url_for('leiloes') }}>Leilões</a>
                        </li>
                        <li>
                            <a href={{ url_for('leiloar') }}>Leiloar Novo Artigo</a>
                        </li>
                        <li>
                            <a href={{ url_for('leiloes') }}>Procurar</a>
                        </li>
                    {% else %}
                        <li>
                            <a href={{ url_for('leiloes') }}>Leilões</a>
                        </li>
                        <li>
                            <a href={{ url_for('leiloes') }}>Procurar</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if session_user_name %}
                        <li>
                            <a href="{{ url_for('logout') }}"><span>Logout</span></a>
                        </li>
                        <li>
                            <a href={{ url_for('perfil') }}>{{ session_user_name }}</a>
                        </li>
                    {% else %}
                        <li><a href={{ url_for('login') }}>Login</a></li>
                        <li>
                            <a href={{ url_for('registo') }}>Registo</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Os Nossos magnificos leilões!
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="col-xs-6 col-sm-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://www.verdisreviews.com/wp-content/uploads/2015/08/usat-2012-auction.jpg" alt="" title="" style="">
            </a>
            <h3>
                <a href="#">Auction Number 2</a>
            </h3>
  			<div class="col-md-6">
            	<p>Data de Inicio: 2016/03/31</p>
            </div>
  			<br>
  			<div class="col-md-6">
            	<p>Valor Base - 10$</p>
  			</div>
			<div class="col-md-6">
            	<p>Data de Fim: 2016/04/10</p>
            </div>
  			<div class="col-md-6">
            	<p>Ultimo Bid - 11$</p>
  			</div>
            <button type="button" class="btn btn-info text-center">Bid Now!</button>
        </div>
        <div class="col-xs-6 col-sm-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://www.verdisreviews.com/wp-content/uploads/2015/08/usat-2012-auction.jpg" alt="" title="" style="">
            </a>
            <h3>
                <a href="#">Auction Number 2</a>
            </h3>
  			<div class="col-md-6">
            	<p>Data de Inicio: 2016/03/31</p>
            </div>
  			<br>
  			<div class="col-md-6">
            	<p>Valor Base - 10$</p>
  			</div>
			<div class="col-md-6">
            	<p>Data de Fim: 2016/04/10</p>
            </div>
  			<div class="col-md-6">
            	<p>Ultimo Bid - 11$</p>
  			</div>
            <button type="button" class="btn btn-info text-center">Bid Now!</button>
        </div>
    <!-- /.row -->

    <!-- Projects Row -->
        <div class="col-xs-6 col-sm-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://www.verdisreviews.com/wp-content/uploads/2015/08/usat-2012-auction.jpg" alt="" title="" style="">
            </a>
            <h3>
                <a href="#">Auction Number 2</a>
            </h3>
  			<div class="col-md-6">
            	<p>Data de Inicio: 2016/03/31</p>
            </div>
  			<br>
  			<div class="col-md-6">
            	<p>Valor Base - 10$</p>
  			</div>
			<div class="col-md-6">
            	<p>Data de Fim: 2016/04/10</p>
            </div>
  			<div class="col-md-6">
            	<p>Ultimo Bid - 11$</p>
  			</div>
            <button type="button" class="btn btn-info text-center">Bid Now!</button>
        </div>
        <div class="col-xs-6 col-sm-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://www.verdisreviews.com/wp-content/uploads/2015/08/usat-2012-auction.jpg" alt="" title="" style="">
            </a>
            <h3>
                <a href="#">Auction Number 2</a>
            </h3>
  			<div class="col-md-6">
            	<p>Data de Inicio: 2016/03/31</p>
            </div>
  			<br>
  			<div class="col-md-6">
            	<p>Valor Base - 10$</p>
  			</div>
			<div class="col-md-6">
            	<p>Data de Fim: 2016/04/10</p>
            </div>
  			<div class="col-md-6">
            	<p>Ultimo Bid - 11$</p>
  			</div>
            <button type="button" class="btn btn-info text-center">Bid Now!</button>
        </div>
    <!-- /.row -->

    <!-- Projects Row -->
        <div class="col-xs-6 col-sm-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://www.verdisreviews.com/wp-content/uploads/2015/08/usat-2012-auction.jpg" alt="" title="" style="">
            </a>
            <h3>
                <a href="#">Auction Number 2</a>
            </h3>
  			<div class="col-md-6">
            	<p>Data de Inicio: 2016/03/31</p>
            </div>
  			<br>
  			<div class="col-md-6">
            	<p>Valor Base - 10$</p>
  			</div>
			<div class="col-md-6">
            	<p>Data de Fim: 2016/04/10</p>
            </div>
  			<div class="col-md-6">
            	<p>Ultimo Bid - 11$</p>
  			</div>
            <button type="button" class="btn btn-info text-center">Bid Now!</button>
        </div>
        <div class="col-xs-6 col-sm-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://www.verdisreviews.com/wp-content/uploads/2015/08/usat-2012-auction.jpg" alt="" title="" style="">
            </a>
            <h3>
                <a href="#">Auction Number 2</a>
            </h3>
  			<div class="col-md-6">
            	<p>Data de Inicio: 2016/03/31</p>
            </div>
  			<br>
  			<div class="col-md-6">
            	<p>Valor Base - 10$</p>
  			</div>
			<div class="col-md-6">
            	<p>Data de Fim: 2016/04/10</p>
            </div>
  			<div class="col-md-6">
            	<p>Ultimo Bid - 11$</p>
  			</div>
            <button type="button" class="btn btn-info text-center">Bid Now!</button>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; ASW 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>