<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Leilões Fantásticos</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/2-col-portfolio.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../static/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/bootstrap.min.js"></script>

    <!-- Slider JS -->
    <script src="../static/slider.js"></script>
</head>

<body onLoad="photoA()">
<div class="largest-container">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><img src="../static/icon%20sold.png" width="165px" height="60px"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href={{ url_for('leiloes') }}>Leilões</a>
                    </li>
                    {% if not session_user_name %}
                        <li>
                            <a href="{{ url_for('register') }}">Register</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if session_user_name %}
                        <a>Hello {{ session_user_name }}</a>
                            <br>
                        <a href="{{ url_for('logout') }}"><span>Logout</span></a>
                    {% else %}
                        <li><a href={{ url_for('login') }}>Login</a></li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Leilões Fantásticos <br></h1>
            </div>
        </div>
        <!-- /.row -->
    <div id="slider">
            <img src="../static/img1.jpg" id="image" >
            <div class="left_hold"><img onClick="photoA(-1)" class="left" src="../static/arrow_left.png"></div>
            <div class="right_hold"><img onClick="photoA(1)" class="right" src="../static/arrow_right.png"></div>
        </div>
        <!-- Projects Row -->
        <div class="row">
            <div class="main_bid_page">
                <h3 class="sub-header">Veja os Leilões que estão a ocorrer neste preciso momento!</h3>
            </div>

        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <div id="image-wrapper">
                   <img src="../static/imgleilao1.png" class="hover">

                    <!--meter hover nas images para o preço aparecer-->
                </div>
                <h3>
                    <input id="bigbutton" type="submit" value="Bid Now!" />
                </h3>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="../static/imgleilao2.png" alt="price check">
                </a>
                <h3>
                    <input id="bigbutton" type="submit" value="Bid Now!" />
                </h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="../static/imgleilao3.png" alt="price check">
                </a>
                <h3>
                    <input id="bigbutton" type="submit" value="Bid Now!" />
                </h3>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="../static/imgleilao4.png" alt="price check">
                </a>
                <h3>
                    <input id="bigbutton" type="submit" value="Bid Now!" />
                </h3>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Asw 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
</div>
</body>

</html>
