<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ session_user_name }} Profile</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/2-col-portfolio.css') }}" rel="stylesheet">

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>

<body>
    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand">Leilões Fantásticos</a>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if session_user_name %}
                        <li>
                            <a href={{ url_for('leiloes') }}>Leilões</a>
                        </li>
                        <li>
                            <a href={{ url_for('leiloar') }}>Leiloar Novo Artigo</a>
                        </li>
                        <li>
                            <a href={{ url_for('leiloes') }}>Procurar</a>
                        </li>
                    {% else %}
                        <li>
                            <a href={{ url_for('leiloes') }}>Leilões</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if session_user_name %}
                        <li>
                            <a href="{{ url_for('logout') }}"><span>Logout</span></a>
                        </li>
                        <li>
                            <a href={{ url_for('perfil') }}>{{ session_user_name }}</a>
                        </li>
                    {% else %}
                        <li><a href={{ url_for('login') }}>Login</a></li>
                        <li>
                            <a href={{ url_for('registo') }}>Registo</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="panel panel-info">
        <div class="panel-heading" style="margin-bottom: 15px;">
        <h3 class="panel-title">{{ user_info[2] }} {{ user_info[3] }}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://cdn2.iconfinder.com/data/icons/website-icons/512/User_Avatar-512.png" class="img-circle img-responsive"> </div>

            <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
              <dl>
                <dt>DEPARTMENT:</dt>
                <dd>Administrator</dd>
                <dt>HIRE DATE</dt>
                <dd>11/12/2013</dd>
                <dt>DATE OF BIRTH</dt>
                   <dd>11/12/2013</dd>
                <dt>GENDER</dt>
                <dd>Male</dd>
              </dl>
            </div>-->
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>User id:</td>
                        <td>{{ user_info[0] }}</td>
                      </tr>
                      <tr>
                        <td>Username:</td>
                        <td>{{ user_info[2] }}</td>
                      </tr>
                      <tr>
                        <td>Nome:</td>
                        <td>{{ user_info[3] }} {{ user_info[4] }}</td>
                      </tr>
                      <tr>
                        <td>Data de Nascimento:</td>
                        <td>{{ user_info[10] }}</td>
                      </tr>

                         <tr>
                             <tr>
                        <td>Gender:</td>
                        <td>Male</td>
                      </tr>
                        <tr>
                        <td>Pais:</td>
                        <td>{{ user_info[6] }}</td>
                      </tr>
                      <tr>
                        <td>Conselho:</td>
                        <td>{{ user_info[7] }}</td>
                      </tr>
                      <tr>
                        <td>Distrito:</td>
                        <td>{{ user_info[8] }}</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">{{ user_info[5] }}</a></td>
                      </tr>

                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3 style="text-align: center;">
            <a>Os Meus Leiloes!</a>
        </h3>
        {% for item in auctions_info %}
            <div class="col-xs-6 col-sm-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://www.verdisreviews.com/wp-content/uploads/2015/08/usat-2012-auction.jpg" alt="" title="" style="">
                </a>
                <div class="col-md-6">
                <h3>
                    <a href="{{ url_for("leilao", item_id = auctions_info[item][0][0]) }}">{{auctions_info[item][0][1]}}</a>
                </h3>
                </div>
                <div class="col-md-6">
                    {% if datetime >= auctions_info[item][0][5] %}
                        <div class="alert alert-danger" role="alert">
                            Nao e possivel editar o leilao porque este ja comecou!
                        </div>
                    {% else %}
                        <a href="{{ url_for("editar_leilao", item_id = auctions_info[item][0][0]) }}"
                           type="button" class="btn btn-info text-center">Alterar Info!</a>
                    {% endif %}
                    <a href="{{ url_for("leilao", item_id = auctions_info[item][0][0]) }}"
                               type="button" class="btn btn-info text-center">Ver Leilao!</a>
                </div>
                <div class="col-md-6">
                    <p>Data de Inicio: {{ auctions_info[item][0][5] }}</p>
                </div>
                <br>
                <div class="col-md-6">
                    <p>Valor Base - {{ auctions_info[item][0][3] }}</p>
                </div>
                <div class="col-md-6">
                    <p>Data de Fim: {{ auctions_info[item][0][6] }}</p>
                </div>
                <div class="col-md-6">
                    <p>Ultimo Bid - {{ auctions_info[item][0][8] }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <h3 style="text-align: center; padding-top: 10px;">
            <a>Os Leiloes em que estou a participar!</a>
        </h3>
        {% for bid_item in bid_auctions %}
            <div class="col-xs-6 col-sm-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://www.verdisreviews.com/wp-content/uploads/2015/08/usat-2012-auction.jpg" alt="" title="" style="">
                </a>
                <div class="col-md-6">
                <h3>
                    <a href="{{ url_for("leilao", item_id = bid_auctions[bid_item][0]) }}">{{bid_auctions[bid_item][1]}}</a>
                </h3>
                </div>
                <div class="col-md-6">
                    <a href="{{ url_for("leilao", item_id = bid_auctions[bid_item][0]) }}"
                               type="button" class="btn btn-info text-center">Ver Leilao!</a>
                </div>
                <br>
                <div class="col-md-6">
                    <p>Valor Base - {{ bid_auctions[bid_item][3] }}</p>
                </div>
                <div class="col-md-6">
                    <p>Data de Fim: {{ bid_auctions[bid_item][6] }}</p>
                </div>
                <div class="col-md-6">
                    <p>Ultimo Bid - {{ bid_auctions[bid_item][8] }}</p>
                </div>
                <div class="col-md-6">
                    <p>Ultimo Bidder - {{ last_bidders[bid_item] }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <h3 style="text-align: center; padding-top: 10px;">
            <a>Leiloes que acabaram e participei!</a>
        </h3>
        {% for bid_item in bid_auctions %}
            <div class="col-xs-6 col-sm-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://www.verdisreviews.com/wp-content/uploads/2015/08/usat-2012-auction.jpg" alt="" title="" style="">
                </a>
                <div class="col-md-6">
                <h3>
                    <a href="{{ url_for("leilao", item_id = bid_auctions[bid_item][0]) }}">{{bid_auctions[bid_item][1]}}</a>
                </h3>
                </div>
                <div class="col-md-6">
                    <a href="{{ url_for("leilao", item_id = bid_auctions[bid_item][0]) }}"
                               type="button" class="btn btn-info text-center">Ver Leilao!</a>
                </div>
                <br>
                <div class="col-md-6">
                    <p>Valor Base - {{ bid_auctions[bid_item][3] }}</p>
                </div>
                <div class="col-md-6">
                    <p>Data de Fim: {{ bid_auctions[bid_item][6] }}</p>
                </div>
                <div class="col-md-6">
                    <p>Ultimo Bid - {{ bid_auctions[bid_item][8] }}</p>
                </div>
                <div class="col-md-6">
                    <p>Ultimo Bidder - {{ last_bidders[bid_item] }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>