<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Registo!</title>

        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-formhelpers.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/form-elements_lr.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login_register_style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-formhelpers.css') }}">

        <!-- Favicon and touch icons -->

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='imagens/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static', filename='images/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', filename='imagens/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='imagens/apple-touch-icon-57-precomposed.png') }}">

    </head>

    <body>
        <nav class="navbar" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand">Leilões Fantásticos</a>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href={{ url_for('leiloes') }}>Leilões</a>
                        </li>
                        <li>
                            <a href={{ url_for('procurar') }}>Procurar</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href={{ url_for('login') }}>Login</a></li>
                        <li>
                            <a href={{ url_for('registo') }}>Registo</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                	
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>Bem vindo!</strong>
                                <br>
                                Cria uma conta aqui!
                            </h1>
                        </div>
                    </div>
                        	
                        	<div class="form-box">
	                            <div class="form-bottom">
                                    {% if error %}
                                            <p class=error><strong>Erro:</strong> {{ error }}
                                    {% endif %}
                                    {% if message %}
                                            <p class=message><strong>Mensagem:</strong> {{ message }}
                                    {% endif %}
				                    <form role="form" action="" method="post" class="registration-form">
				                    	<div class="form-group">
				                    		<label class="sr-only" for="form-first-name">Primeiro Nome</label>
				                        	<input type="text" name="first-name" placeholder="First name..." class="form-first-name form-control" id="first-name">
				                        </div>
                                        <div class="form-group">
				                        	<label class="sr-only" for="form-last-name">Ultimo Nome</label>
				                        	<input type="text" name="last-name" placeholder="Last name..." class="form-last-name form-control" id="last-name">
				                        </div>
                                        <div class="form-group">
				                        	<label class="sr-only" for="form-email">Email</label>
				                        	<input type="text" name="email" placeholder="Email..." class="form-email form-control" id="email">
				                        </div>
                                        <div class="form-group">
				                    		<label class="sr-only" for="username">Username</label>
				                        	<input type="text" name="username" placeholder="Username" class="form-control" id="username">
				                        </div>
                                        <div class="form-group">
				                        	<label class="sr-only" for="form-password">Password</label>
				                        	<input type="password" name="password" placeholder="Password..." class="form-password form-control" id="password">
				                        </div>
                                        <div class="form-group">
				                    		<label class="radio-inline"><input value="Male" type="radio" name="gender">M</label>
                                            <label class="radio-inline"><input value="Female" type="radio" name="gender">F</label>
				                        </div>
                                        <div class="form-group">
				                    		<label class="sr-only" for="birth-date">Data de Nascimento YYYY-MM-DD</label>
				                        	<input type="date" name="birth-date" placeholder="Data de Nascimento YYYY-MM-DD" class="form form-control" id="birth-date">
				                        </div>
                                        <div class="form-group">
				                    		<select class="input-medium bfh-countries" data-country="US" name="country"></select>
				                        </div>
				                        <div class="form-group">
				                    		<label class="sr-only" for="district">Destrito</label>
				                        	<input type="text" name="district" placeholder="Distrito..." class="form-control" id="district">
				                        </div>
                                        <div class="form-group">
				                    		<label class="sr-only" for="conselho">Conselho</label>
				                        	<input type="text" name="conselho" placeholder="Conselho..." class="form-control" id="conselho">
				                        </div>
				                        <button type="submit" class="btn">Registo!</button>
				                    </form>
			                    </div>
                        	</div>
                        	
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>

        <!-- Footer -->
        <footer>
        	<div class="container">
                <div class="col-sm-8 col-sm-offset-2">
                    <p style="margin-top: 60px;">Made by group X with fun! <i class="fa fa-smile-o"></i></p>
                </div>
        			
        		</div>
        </footer>

    </body>

</html>