<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Registo!</title>

        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-formhelpers.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script>
        var socket = io.connect("http://localhost:5000");

        $(function () {
            $('#bid_form').submit(function (ev) {
                socket.emit('new_bid', $('#bid_amount').val());
                return false;
            });
        });

        socket.on('bid', function (msg) {
            $('#last_bid').append($('<p>').text(msg));
        });

    </script>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/form-elements_lr.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login_register_style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-formhelpers.css') }}">

        <!-- Favicon and touch icons -->

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='imagens/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static', filename='images/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', filename='imagens/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='imagens/apple-touch-icon-57-precomposed.png') }}">

    </head>

    <body>
        <!-- Navigation -->
        <nav class="navbar" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand">Leilões Fantásticos</a>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% if session_user_name %}
                            <li>
                                <a href={{ url_for('leiloes') }}>Leilões</a>
                            </li>
                            <li>
                                <a href={{ url_for('leiloar') }}>Leiloar Novo Artigo</a>
                            </li>
                            <li>
                                <a href={{ url_for('procurar') }}>Procurar</a>
                            </li>
                        {% else %}
                            <li>
                                <a href={{ url_for('leiloes') }}>Leilões</a>
                            </li>
                            <li>
                                <a href={{ url_for('procurar') }}>Procurar</a>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if session_user_name %}
                            <li>
                                <a href="{{ url_for('logout') }}"><span>Logout</span></a>
                            </li>
                            <li>
                                <a href={{ url_for('perfil') }}>{{ session_user_name }}</a>
                            </li>
                        {% else %}
                            <li><a href={{ url_for('login') }}>Login</a></li>
                            <li>
                                <a href={{ url_for('registo') }}>Registo</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        <!-- /.container -->
        </nav>
        <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">

                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>Bem Vindo!</strong>
                                <br>
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="form-box">
                                <div class="form-top">
                                    <div class="form-top-left">
                                        <h3>Procure aqui uma licitacao!</h3>
                                        <p>Insira o nome, datas, tags, valor ou descricao:</p>
                                    </div>
                                    <div class="form-top-right">
                                        <i class="fa fa-key"></i>
                                    </div>
                                </div>
                                <div class="form-bottom">
                                    <form role="form" action="" method="post" class="login-form">
                                        {% if error %}
                                            <p class=error><strong>Error:</strong> {{ error }}
                                        {% endif %}
                                        <div class="form-group">
                                            <label class="sr-only" for="form-username">Search Username</label>
                                            <input type="text" name="search_article" placeholder="" class="form-username form-control" id="search_article">
                                        </div>
                                        <button type="submit" class="btn">Search!</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            {% if message %}
                                <div class="alert alert-success" style="text-align: center"> {{ message }}</div>
                            {% elif error %}
                                <div class="alert alert-danger" style="text-align: center"> {{ error }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">

                        {% for item in search_auctions %}
                            <div class="col-xs-6 col-sm-4 portfolio-item">
                                <a href="#">
                                    <img class="img-responsive" src="http://www.verdisreviews.com/wp-content/uploads/2015/08/usat-2012-auction.jpg" alt="" title="" style="">
                                </a>
                                <div class="col-md-6">
                                <h3>
                                    <a href="{{ url_for("leilao", item_id = item[0]) }}">{{item[1]}}</a>
                                </h3>
                                </div>
                                <div class="col-md-6">
                                    <a href="{{ url_for("leilao", item_id = item[0]) }}"
                                               type="button" class="btn btn-info text-center">Ver Leilao!</a>
                                </div>
                                <br>
                                <div class="col-md-6">
                                    <p>Valor Base - {{ item[3] }}</p>
                                </div>
                                <div class="col-md-6">
                                    <p>Data de Fim: {{ item[6] }}</p>
                                </div>
                                <div class="col-md-6">
                                    <p>Ultimo Bid - {{ item[8] }}</p>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

        <!-- Footer -->
        <footer>
        	<div class="container">
        		<div class="row">

        			<div class="col-sm-8 col-sm-offset-2">
        				<div class="footer-border"></div>
        				<p>Made by group X with fun! <i class="fa fa-smile-o"></i></p>
        			</div>

        		</div>
        	</div>
        </footer>

    </body>

</html>